
NEXT_PUBLIC_CONTACT_EMAIL="john@gmail.com"
NEXT_PUBLIC_CONTACT_PHONE="+880 000000000"
NEXT_PUBLIC_SITE_URL="https://example.com"
NEXT_PUBLIC_RESUME_URL="https://example.com/resume.pdf"

EMAIL="john@gmail.com"
PASS="12345678"


